- page_title s_('IdentityVerification|Help us keep GitLab secure')
- experiment(:lightweight_trial_registration_redesign, actor: @user) do |e|
  - e.candidate do
    - content_for :hide_empty_navbar, true

= render_if_exists 'devise/shared/delete_unconfirmed_users_flash'

%div{ data: { track_action: 'render', track_label: onboarding_status_presenter.tracking_label } }
  #js-identity-verification{ data: signup_identity_verification_data(@user) }
