- page_title _('Vulnerability report')
- add_page_specific_style 'page_bundles/security_dashboard'
- @noteable_type = 'Vulnerability'
- @gfm_form = true

#js-vulnerabilities{ data: instance_security_dashboard_data }
