- return unless ::License.feature_available?(:remote_development)

#js-workspaces-agent-availability-settings{ data: { organization_id: Current.organization.id, default_expanded: expanded_by_default?.to_s } }
