-# EE:Self Managed
- gitlab_duo_text = _('GitLab Duo')
- page_title gitlab_duo_text
- breadcrumb_title gitlab_duo_text

= render 'admin/enable_duo_banner_sm',
    title: s_('AiPowered|Get started with GitLab Duo Core'),
    callouts_feature_name: 'enable_duo_banner_admin_duo_settings_page'

#js-gitlab-duo-admin-page{ data: Admin::AiPresenter.new.settings }
