- title = @maven_upstream.name
- add_to_breadcrumbs s_('VirtualRegistry|Virtual registry'), group_virtual_registries_path(@group)
- add_to_breadcrumbs s_('VirtualRegistry|Maven'), group_virtual_registries_maven_registries_path(@group)
- add_to_breadcrumbs s_('VirtualRegistry|Upstreams'), group_virtual_registries_maven_upstream_path(@group, @maven_upstream) # There is no index view, so we reuse show here
- breadcrumb_title @maven_upstream.id.to_s
- page_title title, s_('VirtualRegistry|Maven upstream'), s_('VirtualRegistry|Virtual registry')

#js-vue-maven-upstream-details{ "data-provide": maven_upstream_data(@maven_upstream) }
