- return unless current_user
- context = local_assigns.fetch(:context)

- if context.root?
  = render Namespaces::Storage::NamespaceLimit::PreEnforcementAlertComponent.new(context: context, user: current_user)
- else
  = render Namespaces::Storage::NamespaceLimit::SubgroupPreEnforcementAlertComponent.new(context: context,
    user: current_user)
