- return unless License.feature_available?(:service_accounts)
- form = local_assigns.fetch(:form)

.form-group
  = form.label :allow_top_level_group_owners_to_create_service_accounts, _('Service account creation'), class: 'label-bold'
  = form.gitlab_ui_checkbox_component :allow_top_level_group_owners_to_create_service_accounts, _('Allow top-level group owners to create Service accounts.')
