- return unless License.feature_available?(:cluster_receptive_agents)

- form = local_assigns.fetch(:form)

.form-group
  - help_text = s_('ClusterAgents|Allow configuring agents in receptive mode.')
  - help_link = link_to _('Learn more.'), help_page_path('user/clusters/agent/install/_index.md', anchor: 'option-2-gitlab-connects-to-agent-receptive-agent'), target: '_blank', rel: 'noopener noreferrer'
  = form.gitlab_ui_checkbox_component :receptive_cluster_agents_enabled, s_('ClusterAgents|Enable receptive mode'),
      help_text: '%{help_text} %{help_link}'.html_safe % { help_text: help_text, help_link: help_link }
