
= gitlab_ui_form_for @application_setting, url: general_admin_application_settings_path(anchor: 'js-enforce-pipl-compliance-settings'), html: { class: 'fieldset-form', id: 'enforce-pipl-compliance-settings' } do |f|
  = form_errors(@application_setting)

  %fieldset{ data: { event_tracking_load: 'true', event_tracking: 'view_admin_application_settings_security_and_compliance_pageload' } }
    .form-group
      = f.gitlab_ui_checkbox_component :enforce_pipl_compliance, s_('AdminSettings|Enforce PIPL compliance'), help_text: s_('AdminSettings|Enforce PIPL compliance for all users')

  = f.submit _('Save changes'), pajamas_button: true
