- return if ::Gitlab::Saas.enabled?
- return unless License.feature_available?(:service_accounts)
- form = local_assigns.fetch(:form)
- pat_expiry_rules_link = link_to('', help_page_path('user/profile/personal_access_tokens.md', anchor: 'create-a-service-account-personal-access-token-with-no-expiry-date', target: '_blank', rel: 'noopener noreferrer'))
- help_text = safe_format(s_('AccessTokens|Forces new personal access tokens for service accounts to require an expiration date. Does not affect existing token expiration dates. %{link_start}How does this affect expiration dates?%{link_end}'), tag_pair(pat_expiry_rules_link, :link_start, :link_end))

= form.gitlab_ui_checkbox_component :service_access_tokens_expiration_enforced, s_('AccessTokens|Require expiration date for service accounts'), help_text: help_text
