- if show_user_cap_alert?
  .gl-w-full.order-md-1.gl-mb-5.md:gl-mb-0.gl-mt-3
    = render Pajamas::AlertComponent.new(variant: :info, dismissible: false,
      alert_options: { data: { testid: "pending-members-alert" } }) do |c|
      - c.with_body do
        = safe_format(_('User caps is enabled for this group. You can manage members on the %{pending_members_link_start}pending members%{pending_members_link_end} page.'), tag_pair(pending_members_link, :pending_members_link_start, :pending_members_link_end))

