- page_title s_('Workspaces|Workspaces Settings')
- breadcrumb_title s_("Workspaces|Workspaces Settings")

#js-workspaces-settings{ data: {
  namespace: @group.full_path,
  can_admin_cluster_agent_mapping: can?(current_user, :admin_namespace_cluster_agent_mapping, @group).to_s } }
