- if ::License.feature_available?(:password_complexity)
  = form.label :password, _('Password')
  %input.form-control.gl-form-input.js-password{ data: { id: "#{form_resource_name}_password",
    testid: 'new-user-password-field',
    track_action_for_errors: preregistration_tracking_label,
    autocomplete: 'new-password',
    required: 'false',
    name: "#{form_resource_name}[password]" } }
- else
  = render_ce 'devise/registrations/password_input', form: form, form_resource_name: form_resource_name
