- show_basic_requirements = local_assigns.fetch(:show_basic_requirements, false)

- if ::License.feature_available?(:password_complexity)
  #js-password-requirements-list{ data: { rule_types: password_rule_list(show_basic_requirements).map(&:to_s) } }
