- blocking_issues_count = @issuable_meta_data[issuable.id]&.blocking_issues_count || 0

- if blocking_issues_count > 0
  %li.gl-hidden.sm:gl-block.has-tooltip{ data: { testid: 'blocking-issues' }, title: _('Blocking issues') }
    = sprite_icon('entity-blocking', css_class: "gl-align-middle")
    = blocking_issues_count
