- add_to_breadcrumbs _("Security configuration"), project_security_configuration_path(@project)
- breadcrumb_title s_("SecurityConfiguration|Secret detection configuration")
- page_title s_("SecurityConfiguration|Secret detection configuration")

#js-secret-detection-configuration{ data: { project_full_path: @project.full_path } }
