- return unless can?(current_user, :update_max_pages_size)
- expanded = expanded_by_default?

= render ::Layouts::SettingsBlockComponent.new(_('Pages'),
  id: 'js-pages-settings',
  expanded: expanded) do |c|
  - c.with_description do
    - pages_link_url = help_page_path('administration/pages/_index.md', anchor: 'set-maximum-size-of-each-gitlab-pages-site-in-a-group')
    - pages_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: pages_link_url }
    = s_('GroupSettings|Set a size limit for all content in each Pages site in this group. %{link_start}Learn more.%{link_end}').html_safe % { link_start: pages_link_start, link_end: '</a>'.html_safe }
  - c.with_body do
    = render 'groups/settings/pages_settings'
