- configuration_text = s_('AiPowered|Model Selection')
- page_title configuration_text
- breadcrumb_title configuration_text
- add_to_breadcrumbs _('GitLab Duo'), group_settings_gitlab_duo_path(@group)
- add_page_specific_style 'page_bundles/settings'

#js-gitlab-duo-model-selection{ data: { view_model: { groupId: @group.to_gid }.to_json } }
