- breadcrumb_title s_('AIAgents|AI Agents')
- page_title s_('AIAgents|AI Agents')

#js-mount-index-ml-agents{ data: { project_path: @project.full_path, base_path: namespace_project_ml_agents_path(@project.namespace, @project), user_id: current_user.to_global_id } }
