- namespace = local_assigns.fetch(:namespace)

- return unless ::Gitlab::Saas.feature_available?(:gitlab_com_subscriptions) && namespace.paid?

- css_class = local_assigns.fetch(:css_class)

%span.plan-badge.has-tooltip{ class: css_class, data: { plan: namespace.actual_plan_name, testid: 'plan-badge' },
  title: "#{namespace.actual_plan.title} Plan" }
  = custom_icon('icon_premium')
