= s_('DuoEnterprise|You have been assigned a GitLab Duo Enterprise seat!')

= s_('DuoEnterprise|You now have access to GitLab Duo Enterprise, which boosts your efficiency and effectiveness by reducing the time required to write and understand code.')

= _('Go to GitLab, visit %{login_url}.') % {login_url: new_session_url(:user)}
