- page_title s_('ObservabilityLogs|Logs')
- @content_wrapper_class = "#{@content_wrapper_class} gl-pb-0"
- @no_container = true

#js-observability-logs{ data: { view_model: observability_logs_view_model(@project) } }
