%fieldset.form-group
  = form.gitlab_ui_checkbox_component :member_approval_events,
    s_('Webhooks|Member approval events'),
    help_text: s_('Webhooks|URL is triggered when a member promotion request is queued, approved, or denied')
