- return unless group.disable_personal_access_tokens_available? || (group.root? && ::Gitlab::Saas.enabled? && License.feature_available?(:service_accounts))

%h5= s_('AccessTokens|Personal access tokens')

.form-group.gl-mb-3
  = render_if_exists 'groups/settings/enterprise_users_pats', f: f, group: @group
  = render_if_exists 'groups/settings/service_accounts_pats_expiration_enforced', f: f, group: @group
