- breadcrumb_title _("Learn GitLab")
- page_title _("Learn GitLab")
- content_for :hide_broadcast_messages, true
- content_for :hide_unlimited_members_during_trial_alert, hide_unlimited_members_during_trial_alert?(onboarding_progress)
#js-learn-gitlab-app{ data: learn_gitlab_data(@project) }
