- add_to_breadcrumbs s_('Runners|Runners'), admin_runners_path
- breadcrumb_title s_('Runners|Fleet dashboard')
- page_title s_('Runners|Fleet dashboard'), s_('Runners|Runners')
- add_page_specific_style 'page_bundles/runners'

#js-admin-runners-dashboard{ data: admin_runners_fleet_dashboard_data }
