- @force_fluid_layout = ::Feature.enabled?(:group_security_dashboard_new, @group)
- breadcrumb_title _("Security dashboard")
- page_title _("Security dashboard")
- add_page_specific_style 'page_bundles/security_dashboard'

#js-group-security-dashboard{ data: group_level_security_dashboard_data(@group) }
