- page_title s_('Workspaces|Workspaces')
- header_title  _("Your work"), root_path
- nav 'your_work'
- add_page_specific_style 'page_bundles/remote_development'

#js-workspaces{ data: {
    options: {
      workspaces_list_path: remote_development_workspaces_path,
      empty_state_svg_path: image_path('illustrations/empty-state/empty-workspaces-md.svg'),
      default_devfile: ::RemoteDevelopment::Settings::DefaultSettings.default_settings[:default_devfile_yaml][0],
      organization_id: Current.organization.id.to_s,
    }.to_json
  }
}
