.billing-plan-header.content-block.gl-text-center
  .billing-plan-logo
    - if namespace.avatar_url.present?
      = render Pajamas::AvatarComponent.new(namespace, alt: namespace.name, class: 'border rounded gl-mb-5 gl-mt-2', size: 96)
    - else
      .avatar-container.rect-avatar.s96.home-panel-avatar.gl-mr-3.float-none.gl-mb-6.gl-mt-2{ class: '!gl-mx-auto' }
        = render Pajamas::AvatarComponent.new(namespace, alt: namespace.name, size: 96)

  %h4{ data: { testid: 'billing-plan-header-content' } }
    = s_("BillingPlans|%{group_name} is currently using the %{plan_name}").html_safe % { group_name: namespace.full_name,
      plan_name: current_plan.name }

  = yield
