- page_title s_('Trial|Start your free Ultimate and GitLab Duo Enterprise trial')

- content_for :page_specific_javascripts do
  = render 'layouts/google_tag_manager_head'
  = render 'layouts/one_trust'
= render 'layouts/google_tag_manager_body'
