# frozen_string_literal: true

require 'spec_helper'

RSpec.describe 'User with <%= ability %> custom role', feature_category: :<%= feature_category %> do
  let_it_be(:user) { create(:user) }

  before do
    stub_licensed_features(custom_roles: true)

    sign_in(user)
  end

  describe "Specify controller here" do
  end
end
