%div{ class: [@content_class, 'gl-pt-5!'] }
  = render Pajamas::AlertComponent.new(title: _('No seats left in subscription'), variant: :warning) do |c|
    - c.with_body do
      %p= _('You have used all seats in your subscription, so you cannot add new users.')
    - c.with_actions do
      = render Pajamas::ButtonComponent.new(variant: :confirm, href: help_page_path('subscriptions/self_managed/_index.md', anchor: 'buy-seats-for-a-subscription')) do
        = s_('Purchase more seats')
